*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: poppins;
  
 
}

section{
    width: 100%;
    height: 110vh;
    background-color: rgb(192, 226, 224);

}

.image1{
  position: absolute;
  right: 200px;
    padding-top: 40px;
}
.image2{
    margin-right: 700px;
}

.imagetop{
    margin-bottom: 20%;
    margin-top: 62px;
    
}


.up{
    text-align: center;
    color: blue;
}

.ama{
    font-size: 50px;
    font-family: ;
     padding-top: 100px;
}

.programmer{
    font-family: montserrat;
    margin-top: 50px;
    font-size: 30px;
}

.myimage{
    margin-top: 100px;
  margin-left: 500px;
  height: 20px;
}

.hello{
    color: rgb(70, 202, 125);
    font-family: montserrat;
    text-align: center; 
    font-size: 40px;
    margin-top: 350px;
}

.text{
    text-align: center;
    margin-top: 30px;
    font-family: serif;
    }

.skill{
    color: rgb(70, 202, 125);
    font-family: montserrat;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 40px;
}

table{
    margin-left: 250px;
    
   
    font-family: poppins;
}

.web{ 
    margin-bottom: 20px;
background-color: none;
font-size: 16px;
font-family: poppins;
text-decoration: solid;
color: rgb(70, 141, 136);
}

.table{
    margin-left: 80px;
}

hr{
    height: 5px;
    background-color: rgb(37, 39, 44);
    width: 70%;
   margin-left: 280px;
}
.container{
    width: 100%;
    height: 150vh;
    background-color: rgb(200, 206, 205);
    align-items: center;
    
    /* margin: 0, 45px; */
    }

#portfolio{
    color: green;
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    font-family: montserrat;
    padding-top: 70px;
    padding-bottom: 70px;
}

.gallery{
    width: 400px;
    height: 350px;
    margin-bottom: 30px;
    transition: transform .1s;
}


#container{
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}

.gallery:hover{
    -ms-transform: scale(1.1)
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.dot{
    text-align: center;
    margin-bottom: 50px;
}
/* .xxx{
    float: right;
} */

.almost{
    margin-top: 45px;
    
}
#break{
    margin-bottom: 45px;
    text-align: center;
}

.get{
    font-size: 26px;
    text-align: center;
    color: rgb(89, 162, 190);
    font-family: montserrat;
}
.love{
    margin-top: 40px;
    color: rgb(89, 162, 190);
    text-align: center;
    text-decoration: solid;
}
#hit{
    color: black;
    font-size: 15px;
    text-align:center;
    margin-top: 35px;
    font-size: 12px;
}

.mail{
    text-align: right;
    margin-top: 35px;
    margin-right: 450px;
    font-family: poppins;
    font-size: 24px;
    color: red;
    text-decoration: none;
}
button{
    
    border-radius: 4px;
    background-color: greenyellow;
    padding: 10px 20px;
    border: none;
    transition-duration: 0.4s;
    text-decoration: none;
}
button:hover{
    background-color: cyan;
}
button a{
    text-decoration: solid;
    color: white;
    font-family: montserrat;
}
.bottom{
    height: 150px;
    width: auto;
    background-color: rgb(13, 166, 172);
    margin-top: 50px;
    text-align: center;
    padding-top: 30px;
} 

.sites{
    margin-left: 50px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: serif;
}
.copy{
    margin-top: 70px;
    font-size: 10px;
    color: white;
}
